@model IEnumerable<MVCDemo.Models.Student>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


   

@{
    Layout = "_Layout1";
}

@{ 
    @ViewData["Welcome"]
}


<h1>@ViewData["Welcome"]</h1>
<h2>@Localizer["Welcome"]</h2>


    
<form method="post" asp-controller="Home" asp-action="ChangeLanguage">
    <label>Select Language:</label>
    <select name="culture">
        <option value="en_IN">English</option>
        <option value="ta_IN">Tamil</option>
    </select>
    <button type="submit">Change</button>
</form>

 <div class="container mt-5">
    <div class="row">


         @{
                    foreach (var item in Model)
                    {
        <div class="col-sm-4">
            <div class="card" style="width:400px">
               
                        
                         <img class="card-img-top" src="@item.Profilepicture" alt="Card image">
                           <div class="card-body">
                               <h4 class="card-title">ID:@item.Sid Name:@item.Sname  Age:@item.Age</h4>
                                <p class="card-text">@item.Education</p>
                             <a href="/Home/UserDetails?Sid=@item.Sid&Sname=@item.Sname" class="btn btn-primary">See Profile</a>
                             <a href="Home/User/@item.Sname?Sid=@item.Sid" class="btn btn-primary">See Profile</a>
                           </div>
                       
                    
                
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:400px">
                <div class="col-sm-8">
                    <h2>Name:@item.Sname</h2>
                    <h5>Age:@item.Age</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    
                </div>
            </div>
        </div>

        <div class="col-sm-4">
                    <div class="card" style="width:400px">
                        <div class="col-sm-8">
                            <h2>@item.Education</h2>
                            <h5>>@item.Description</h5>
                            <div class="fakeimg">Fake Image</div>
                            <p>Some text..</p>
                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        </div>
                    </div>
                </div>

                    }
                    }
      
    </div>
</div>
   




      

   


